body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Full page background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1512820790803-83ca734da794")
    no-repeat center center/cover;
}

/* Login Card */
.login-card {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
  text-align: center;
}

/* Title */
.login-card h2 {
  margin-bottom: 20px;
}

/* Input Fields */
.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  background-color: #2c3e50;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #1abc9c;
}